apache-airflow-providers-apache-spark==3.0.0
pyspark==3.3.1
fastapi==0.81.0
Flask-Cors==3.0.10
Flask-Ext==0.1
flask-restplus==0.13.0
duckdb==0.4.0
pydantic==1.10.0
python-dotenv==0.20.0
python-jenkins==1.7.0
python-multipart==0.0.5
s3path==0.3.4
s3fs[boto3]==2022.7.1
vaex==4.12.0
typing-extensions==4.1.1
uvicorn==0.18.3
uvloop==0.16.0
watchgod==0.8.2
websockets==10.3
apache-airflow-providers-snowflake==3.3.0
snowflake-connector-python==2.7.9
neo4j==4.4.5
redshift-connector==2.0.908
scikit-learn==1.0.2
scipy==1.5.1
plotly==5.16.1
pycaret==3.0.4
xgboost==1.6.2
statsmodels==0.13.5
torch==2.0.1
explainerdashboard==0.4.3
ydata-profiling==4.5.1
bs4==0.0.1
waitress==2.1.2
ptvsd==4.3.2
openai==0.27.6
pydantic_core==0.42.0
